.page {
  display: flex;
  gap: 24px;

  position: relative;
}

.investiment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}

.investiment h1 {
  color: var(--green-300);

  font-size: 3rem;
  line-height: 1.5rem; /* 50% */
}


.investiment p {
  color: var(--black-600);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.investiment p:last-child {
 
  font-size: 0.925rem;
  font-weight: 700;
  text-transform: none;
}

.emp-clients {
  font-size: 1.25rem;
  color: var(--gray-500);
  margin-top: 3rem;
}

.client-list {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.table {
  width: 100%;
  max-width: 67.875rem;
  margin-top: 3rem;
}

.tb-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;

}

.tb-head p {
  color: var(--black-600);
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
}

.data-client {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--gray-100);
}

.data-client a {
  width: 100%;
  max-width: 13rem;
}

.sidebar {
  position: relative;

  border-right: 1px solid #EBEBEB;
  background: var(--gray-100);

  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 14rem;
  height: 100vh;
  padding: 3rem 1.5rem;

}

.close {
  display: none;

  margin-bottom: 1rem;
  position: absolute;
  top: 15px;
  right: 15px;
}

.head {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  max-width: 65.125rem;
}

.head button {
  margin-top: 1rem;
  padding: 1.25rem 0;
}

.head button {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 0.75rem;

  margin-bottom: 1.5rem;
}

.logo img {
  width: 1.625rem;
  height: 1.625rem;
}

.logo h1 {
  color: var(--black-600);
  font-size: 1.25rem;
  font-weight: 300;
}

.logo h1 span{ 
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.link {
  color: var(--gray-500);
  font-size: 1rem;

  background: var(--gray-100);

  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.75rem;

  border-radius: 16px;
}

.link:hover {
  filter: brightness(0.95);
}

main {
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

main .form button[type="submit"] {
  font-size: 1.25rem;
}

@media(max-width: 769px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -254px;
    transition: margin-left 300ms ease-in;
  }

  .close {
    display: block;
  }

  .openSidebar {
    margin-left: 0px;
  }

  .head {
    max-width: 42rem;
  }

  .head button {
    display: block;
  }
}
