body {
  background-color: var(--green-700);
  font-family: "Inter", sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;  

  width: 100%;
  max-width: 78.4375rem;
  margin: auto;

  height: 8rem;
}

.menu nav {
  display: flex;
  align-items: center;
  gap: 3.25rem;
}

.menu nav .link {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 125%; /* 1.40625rem */
  letter-spacing: 0.0225rem;
}


.menu nav .btn-login {
  border-radius: 0.5rem;
  background: var(--green-300);

  padding: 0.75rem 2rem;

  color: var(--white);

  font-size: 1.125rem;

  line-height: 125%; /* 1.40625rem */
  letter-spacing: 0.0225rem;

}

.btn-login:hover {
  filter: brightness(0.95);
}

.link:hover {
  filter: brightness(0.95);
  text-decoration: var(--green-300) wavy underline;;
}


.hero {
  display: grid;
  text-align: center;

  color: var(--white);
  
  height: calc(100vh - 8rem);
}


.img-wrapper {
  background: url("./circuit.png");
  height: 100%;

}

.img-wrapper .gradient {
  background: linear-gradient(0deg, rgba(38,65,60,0) 0%, rgba(38,65,60,1) 90%, rgba(38,65,60,1) 100%);
}

.text h1 {
  padding-top: 10%;

  font-size: 3rem;
  line-height: 125%; 
  font-weight: 400;
}

.text h1 span {
  font-weight: 700;
}

.text p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 125%; 
}
